.quiestion-container{
    background-color: #2F2FA2;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    color: white;
}
.quiestion-container h4{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.ans-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.ans-btn{
    background-color: #242582;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.ans-btn:hover{
    background-color: #F64C72;
}
.view{
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.view:hover{
    color: #F64C72;
}
@media only screen and (max-width: 600px){
    .quiestion-container{
        width: 350px;
    }
}