.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242582;
    padding: 0 25px;
}
.header h3{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.header a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}
.header a:hover{
    color: orange;
}